app/__pycache__/
app/auth/__pycache__/
app/database/__pycache__/
app/models/__pycache__/
app/utilities/__pycache__/helper_functions.cpython-37.pyc
instance/__pycache__/
venv/
app/views.py.d01a49eb4080522dc4395f6720956522.py
